<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/main}">
<head>
  <meta charset="UTF-8">
  <title>채팅방 : [[${room.name}]]</title>
</head>
<body>
<div class="container mt-5" id="room-container" layout:fragment="content">
  <form class="d-flex flex-row-reverse" id="room-delete-form" th:action="@{/chat/room/delete/{room_id}(room_id=${room.room_id})}" th:if="${room.master} == ${memberId}" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="button" class="btn btn-dark" id="room-delete-btn">채팅방 삭제</button>
  </form>
  <div class="d-flex justify-content-center">
    <h1>[[${room.name}]]</h1>
  </div>
  <div class="d-flex flex-column">
    <div id="msg-area" class="border border-1 rounded p-3"></div>
    <div class="">
      <div class="input-group mb-3 mt-5">
        <input type="text" id="msg" class="form-control me-2">
        <div class="input-group-append">
          <button class="btn btn-outline-dark" type="button" id="send-btn">전송</button>
        </div>
      </div>
    </div>
  </div>
</div>
<th:block layout:fragment="script">
  <script th:inline="javascript">
    $(document).ready(function(){

      let room_id = [[${room.room_id}]];
      let username = [[${#authentication.principal.username}]];

      let sockJs = new SockJS("/stomp/chat");
      // SockJS를 내부에 들고있는 stomp를 내어줌
      let stomp = Stomp.over(sockJs);

      // connection이 맺어지면 실행
      stomp.connect({}, function (){

        // subscribe(path, callback)으로 메세지를 받을 수 있음
        stomp.subscribe("/sub/chat/room/" + room_id, function (chat) {
          let content = JSON.parse(chat.body);
          let message = content.message
          let writer = content.writer;
          let str = '';

            if (writer === username) {
              str = "<div class='d-flex flex-row-reverse'>";
              str += "<div class='alert alert-dark' id='msg-box'>";
              str += "<b>" + message + "</b>";
              str += "</div></div>";
              $("#msg-area").append(str);
              $("#msg-area").scrollTop($("#msg-area")[0].scrollHeight)
            } else {
              str = "<div class='d-flex'>";
              str += "<div class='alert alert-secondary' id='msg-box'>";
              str += "<b>" + writer + " : " + message + "</b>";
              str += "</div></div>";
              $("#msg-area").append(str);
              $("#msg-area").scrollTop($("#msg-area")[0].scrollHeight)
            }
        });

        // send(path, header, message)로 메세지를 보낼 수 있음
        stomp.send('/pub/chat/enter', {}, JSON.stringify({room_id: room_id, writer: username}))
      });

      $("#send-btn").on("click", function(e){
        let msg = document.getElementById("msg");

        if(msg.value === '') {
          alert('메시지가 비어있습니다.')
        } else {
          stomp.send('/pub/chat/message', {}, JSON.stringify({room_id: room_id, message: msg.value, writer: username}));
          msg.value = '';
        }

      });
    });

    $("#room-delete-btn").on("click", function() {
      let result = confirm("정말로 채팅방을 삭제하시겠습니까?")

      if(result) {
        $("#room-delete-form").submit()
      }
    })
  </script>
</th:block>
</body>
</html>