<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/main}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>채팅</h1>
<div class="container mt-5" id="room-container" layout:fragment="content">
  <div class="col-6">
    <h1>[[${room.name}]]</h1>
  </div>
  <div>
    <div id="msgArea" class="col"></div>
    <div class="col-6">
      <div class="input-group mb-3">
        <input type="text" id="msg" class="form-control">
        <div class="input-group-append">
          <button class="btn btn-outline-dark" type="button" id="button-send">전송</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6"></div>
</div>
<th:block layout:fragment="script">
  <script th:inline="javascript">
    $(document).ready(function(){

      let roomName = [[${room.name}]];
      let room_id = [[${room.room_id}]];
      let username = [[${#authentication.principal.username}]];

      let sockJs = new SockJS("/stomp/chat");
      // SockJS를 내부에 들고있는 stomp를 내어줌
      let stomp = Stomp.over(sockJs);

      // connection이 맺어지면 실행
      stomp.connect({}, function (){

        // subscribe(path, callback)으로 메세지를 받을 수 있음
        stomp.subscribe("/sub/chat/room/" + room_id, function (chat) {
          let content = JSON.parse(chat.body);
          let message = content.message
          let writer = content.writer;
          let str = '';

          if(writer === username){
            str = "<div class='col-6'>";
            str += "<div class='alert alert-secondary'>";
            str += "<b>" + writer + " : " + message + "</b>";
            str += "</div></div>";
            $("#msgArea").append(str);
          }
          else{
            str = "<div class='col-6'>";
            str += "<div class='alert alert-warning'>";
            str += "<b>" + writer + " : " + message + "</b>";
            str += "</div></div>";
            $("#msgArea").append(str);
          }
        });

        // send(path, header, message)로 메세지를 보낼 수 있음
        stomp.send('/pub/chat/enter', {}, JSON.stringify({room_id: room_id, writer: username}))
      });

      $("#button-send").on("click", function(e){
        let msg = document.getElementById("msg");
        stomp.send('/pub/chat/message', {}, JSON.stringify({room_id: room_id, message: msg.value, writer: username}));
        msg.value = '';
      });
    });
  </script>
</th:block>
</body>
</html>