<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/main}">
<head>
    <meta charset="UTF-8">
    <title>글작성</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-5 mb-5" id="editor-container">
        <input class="form-control form-control-lg mb-2" type="text" name="title" id="title" placeholder="제목을 입력해주세요."> <br>
        <div name="content" id="editor"></div> <br>
        <div class="d-flex flex-row-reverse">
            <button class="btn btn-outline-dark" id="submitBtn" type="button">작성</button>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script>
        // 게시글 작성 js
        const Editor = toastui.Editor;

        const editor = new Editor({
            el: document.querySelector('#editor'),
            height: '700px',
            initialEditType: 'wysiwyg',
            previewStyle: 'vertical',
            placeholder: '내용을 입력해주세요.'
        });


        // 게시글 작성 ajax
        $('#submitBtn').on("click", function () {

            const title = $.trim($('#title').val())
            const content = $.trim(editor.getHTML())
            const contentStr = content.replace(/\s/gi, "")
            // 유효성 검사
            if(title === "" || content === "<p><br></p>" || contentStr === "<p></p>") {
                alert('제목 또는 내용이 비어있습니다.');
            } else {
                $.ajax({
                    type: "POST",
                    url: "/board/writeProc",
                    data: {
                        title: title,
                        content: editor.getHTML(),
                    },
                    success: function (data) {
                        location.href = data
                    },
                    error: function (e) {
                        console.log(e)
                    }
                });
            }});
    </script>
</th:block>
</body>
</html>