<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/main}">
<head>
    <meta charset="UTF-8">
    <title>글작성</title>
</head>
<body>
<div layout:fragment="content">
    <h1>글작성 페이지</h1>
    <form th:action="@{/board/writeProc}" method="post">
        제목 : <input type="text" name="title"> <br>
        내용 : <textarea name="content" id="" cols="30" rows="10"></textarea> <br>
        <button type="submit">작성</button>
    </form>
</div>
</body>
</html>