<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/main}">
<head>
    <meta charset="UTF-8">
    <title>글수정</title>
</head>
<body>
    <div class="container mt-5 mb-5" id="editor-container" layout:fragment="content">
        <div hidden id="bno" th:data-bno="${board.bno}"></div>
        <input class="form-control form-control-lg mb-2" type="text" name="title" id="modifyTitle" th:value="${board.title}" placeholder="제목을 입력해주세요."> <br>
        <div name="content" id="modify-editor" th:data-content="${board.content}"></div> <br>
        <div class="d-flex flex-row-reverse">
            <button class="btn btn-outline-dark" id="modifyBtn" type="button">수정</button>
        </div>
    </div>
<th:block layout:fragment="script">
    <script>
        // 게시글 수정 js
        const Modify = toastui.Editor;

        const modify = new Modify({
            el: document.querySelector('#modify-editor'),
            height: '700px',
            initialEditType: 'wysiwyg',
            previewStyle: 'vertical'
        })

        const modifyData = $('#modify-editor').data('content')

        modify.setHTML(modifyData)

        const bno = $('#bno').data('bno')

        // 게시글 수정 ajax

        $('#modifyBtn').on("click", function() {

            const modifyTitle = $.trim($('#modifyTitle').val())
            const modifyContent = $.trim(modify.getHTML())
            const modifyContentStr = modifyContent.replace(/\s/gi, "")
            // 유효성 검사
            if(modifyTitle === "" || modifyContent === "<p><br></p>" || modifyContentStr === "<p></p>") {
                alert('제목 또는 내용이 비어있습니다.');
            } else {
                $.ajax({
                    type: "put",
                    url: "/board/modifyProc/" + bno,
                    data: {
                        title: $('#modifyTitle').val(),
                        content: modify.getHTML(),
                    },
                    success: function(data) {
                        location.href = data
                    },
                    error: function(e) {
                        console.log(e)
                    }
                });
            }});
    </script>
</th:block>
</body>
</html>