<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .layout {
        width: 500px;
        margin : 0 auto;
        margin-top: 40px;
    }
</style>
<body>
<div class="layout">
    <table>
        <thead>
        <tr>
            <th>글번호</th>
            <th>제목</th>
            <th>작성자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${list}">
            <td th:text="${board.bno}">1</td>
            <td>
                <a th:text="${board.title}" th:href="@{/board/view(bno=${board.bno})}"></a>
            </td>
            <td th:text="${board.author}">작성자</td>
        </tr>
        </tbody>
    </table>
    <div id="pagination">
        <!-- 맨 처음 페이지로 이동하는 버튼 -->
        <span th:if="${pageDTO.startPage > 1}">
        <a th:href="@{'/board/list?page=1'}" th:text="'처음&emsp;'"></a>
    </span>

        <!-- 이전 블록으로 이동하는 버튼 -->
        <span th:if="${pageDTO.isPrev == true}">
    	<a th:href="@{'/board/list?page='+${pageDTO.startPage - 1}}" th:text="'이전'"></a>
    </span>

        <!-- 시퀀스 보여주는 값을 변경. -->
        <span th:each="pageNum : ${#numbers.sequence(pageDTO.startPage, pageDTO.endPage)}">
        <a class="div2" th:href="@{'/board/list?page='+${pageNum}}" th:text="|&emsp;${pageNum}&emsp;|"></a>
    </span>

        <!-- 다음 블록으로 이동하는 버튼 -->
        <span th:if="${pageDTO.isNext == true}">
	<a th:href="@{'/board/list?page='+|${pageDTO.endPage + 1}|}" th:text="'다음'"></a>
    </span>

        <!-- 맨 뒷 페이지로 이동하는 버튼 -->
        <span th:if="${pageDTO.endPage < pageDTO.totalPageCount}">
	<a th:href="@{'/board/list?page='+${pageDTO.totalPageCount}}" th:text="|&emsp;끝|"></a>
    </span>
    </div>
</div>
</body>
</html>