<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/main}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
<h1 th:text="${board.title}">제목</h1>
<p th:text="${board.content}">내용</p>
<a th:href="@{/board/modify/{bno}(bno=${board.bno})}">수정하기</a>
<form th:action="@{/board/delete/{bno}(bno=${board.bno})}" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit">삭제하기</button>
</form>
<form th:action="@{/board/comment/write/{bno}(bno=${board.bno})}" method="post">
    댓글<input type="text" name="comment">
    <button type="submit">댓글달기</button>
</form>
<div th:each="comment : ${commentList}">
    <div>
        <span th:text="${comment.member_id}">댓글작성자</span> :
        <span th:text="${comment.comment}">댓글내용</span>
        <form th:action="@{/board/comment/delete/{cno}(cno=${comment.cno}, bno=${comment.comment_bno})}" method="post">
            <input type="hidden" name="_method" value="delete">
            <button type="submit">댓글삭제</button>
        </form>
    </div>
</div>
</div>
</body>
</html>