.title {
    text-decoration: none;
}

.title:hover {
    text-decoration: underline;
    font-weight: bold;
}

#content-wrapper {
    width: 840px;
    min-height: 720px;
    margin-top: 8rem;
}

.comment {
    resize: none;
}

#editor-container {
    width: 840px;
}

#title {
    width: 816px;
}

.ck-editor__editable[role="textbox"] {
    min-height: 700px;
}

#room-container {
    min-height: 800px;
}

#msg-area {
    height: 560px;
    overflow: auto;
}

#msg-box {
    max-width: 400px;
}

#detail-wrapper, #modify-wrapper {
    min-height: 720px;
    width: 840px;
    margin-top: 6rem;
}