<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/main}">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
</head>
<body>
<div class="container" id="modify-wrapper" layout:fragment="content">
    <h1>비밀번호 변경</h1>
    <hr>
    <div th:if="${id} != ${#authentication.name}">
        <h1>접근 권한이 없습니다.</h1>
    </div>
    <div th:if="${id} == ${#authentication.name}">
        <div class="mb-3 row">
            <label for="now-password" class="col-sm-2 col-form-label">현재 비밀번호</label>
            <div class="col-sm-10">
                <input name="nowPassword" type="password" class="form-control" id="now-password">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="new-password" class="col-sm-2 col-form-label">변경 비밀번호</label>
            <div class="col-sm-10">
                <input name="newPassword" type="password" class="form-control" id="new-password">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="new-password-check" class="col-sm-2 col-form-label">비밀번호 확인</label>
            <div class="col-sm-10">
                <input name="newPasswordCheck" type="password" class="form-control" id="new-password-check">
            </div>
        </div>
        <p class="text-center" id="confirm-text"></p>
        <div class="d-flex flex-row-reverse">
            <button type="submit" class="btn btn-outline-dark" id="change-btn" disabled>비밀번호 변경</button>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        let confirmText = $('#confirm-text')
        let flag = false

        $('#new-password').keyup(function() {
            let newPassword = $('#new-password').val()
            let newPasswordCheck = $('#new-password-check').val()

            if(newPassword === "" || newPasswordCheck === "") {
                flag = false
                confirmText.html("<span>비밀번호 입력칸이 비어있습니다.</span>")
            } else if(newPassword !== newPasswordCheck) {
                flag = false
                confirmText.html("<span>입력한 비밀번호가 일치하지 않습니다. 다시 확인해주세요.</span>")
            } else if(newPassword === newPasswordCheck) {
                flag = true
                confirmText.html("")
            }

            if(flag === false) {
                $('#change-btn').attr("disabled", true)
                confirmText.css("color", "red")
            } else {
                $('#change-btn').removeAttr('disabled')
            }
        })

        $('#new-password-check').keyup(function() {
            let newPassword = $('#new-password').val()
            let newPasswordCheck = $('#new-password-check').val()

            if(newPassword === "" || newPasswordCheck === "") {
                flag = false
                confirmText.html("<span>비밀번호 입력칸이 비어있습니다.</span>")
            } else if(newPassword !== newPasswordCheck) {
                flag = false
                confirmText.html("<span>입력한 비밀번호가 일치하지 않습니다. 다시 확인해주세요.</span>")
            } else if(newPassword === newPasswordCheck) {
                flag = true
                confirmText.html("")
            }

            if(flag === false) {
                confirmText.css("color", "red")
                $('#change-btn').attr("disabled", true)
            } else {
                $('#change-btn').removeAttr('disabled')
            }
        })

        $('#change-btn').on("click", function() {
            if(flag === true) {
                $.ajax({
                    type: "put",
                    url: "/member/modifyPasswordProc/" + [[${id}]],
                    data: {
                        nowPassword: $('#now-password').val(),
                        newPassword: $('#new-password').val()
                    },
                    success: function (data) {
                        if (data === "notMatch") {
                            alert("입력한 비밀번호가 틀렸습니다. 다시 확인해주세요.")
                        } else {
                            alert("비밀번호 변경에 성공하였습니다.")
                            location.href = data
                        }
                    }
                })
            } else {
                alert("변경 비밀번호와 비밀번호 확인이 맞는지 확인해주세요.")
            }
        })
    </script>
</th:block>
</body>
</html>